body {
  font-size: 0.8rem;
  background-color: #fafbfc;
}

a:hover {
  text-decoration: none;
}

/* Header */
.header {
  height: 45px;
  background-color: #2c3e50;
}

.header a,
.header button {
  color: white;
}

.header a:hover,
.header button:hover {
  color: white;
  text-decoration: none;
}

.header .logo {
  margin-left: 15px;
  font-size: 1.2rem;
  font-family: 'Bree Serif', serif;
}

.header .logo-icon {
  margin-right: 8px;
}

.header .description {
  font-size: 12px;
  font-family: 'Bree Serif', serif;
  color: gray;
  margin-left: 10px;
}

.header .header-navi {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 45px 0 0; /* Height of navbar */
  border-right: 5px solid #F5F5F5;
  width: 20%;
  background-color: white;
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 45px);
  padding-top: 0;
  padding-bottom: 25px;
  overflow-x: hidden;
  overflow-y: auto;
  /* Scrollable contents if viewport is shorter than content. */
}


.operation-area {
  height: 105px;
  background-color: white;
  position: sticky;
  top: 0;
  font-size: 0.6rem!important;
  border-bottom: 1px solid #F1F1F1;
}

.operation-area .btn {
  font-size: 0.75rem;
  padding: 5px 17px;
  border-radius: 0;
  border-bottom: 1px solid #F1F1F1;
}

.operation-area .sort-menu {
  font-size: 0.7rem;
  border-radius: 0;
  padding: 0;
  margin: 0;
}

.operation-area .sort-menu a {
  padding: 5px 10px;
}

.operation-area .search-area {
  padding: 9px;
  font-size: 0.5rem;
}

.operation-area .search-area input {
  font-size: 0.7rem;
  padding: 5px 8px;
}

.sidebar-sticky .subscription-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sidebar-sticky .subscription-list li {
  border-bottom: 1px solid #F5F5F5;
  padding: 5px 10px;
  cursor: pointer;
}

.sidebar-sticky .subscription-list li:last-child {
  border-bottom: none;
}

.sidebar-sticky .subscription-list li:hover {
  background-color: #f6fbff;
}

.sidebar-sticky .subscription-list li.active {
  background-color: #f6fbff;
  font-weight: bold;
}

.sidebar-sticky .subscription-list .subscription-title {
  text-align: left;
  margin-left: 6px;
  margin-right: 6px;
}


/* Main */
.main {
  padding-top: 45px; /* Space for fixed navbar */
  padding-bottom: 25px;
  width: 80%;
}

.content .title-area {
  height: 35px;
  background-color: #1a252f;
  position: sticky;
  top: 45px;
  color: white;
  padding: 0 10px;
}

.content .title-area a {
  color: white;
}

.content .user-items {
  padding: 15px 15px 550px 15px;
}

.content .user-items .item-box {
  margin-bottom: 15px;
  padding: 10px 10px 5px 10px;
  background-color: white;
  border: 1px dotted #BDBDBD;
  border-radius: 0.2rem;
}

.content .user-items .item-box-active {
  border: 1px solid #939292;
}

.content .user-items .item-box-read {
  background-color: #f9f9f9;
}

.content .user-items .item-box .item-title-read {
  font-size: 1.1rem;
  font-weight: normal;
}

.content .user-items .item-box .item-title-unread {
  font-size: 1.1rem;
  font-weight: bold;
}

.content .user-items .footnote-area {
  padding-top: 5px;
  color: #616161;
  font-size: 12px;
}

.content .user-items .description-area {
  padding: 10px;
  font-size: 13px;
  border-bottom: 1px solid #BDBDBD;
}

.content .user-items .shared-area {
  font-size: 1rem;
  padding-top: 5px;
  text-align: right;
}

.content .setting {
  padding: 15px;
}

.content .star {
  padding: 15px;
}

.content .subscriptions {
  padding: 15px;
}

/* Footer */
.footer {
  background-color: #1a252f;
  z-index: 1000;
  height: 25px;
  color: white;
  font-size: 0.7rem;
}

.footer a {
  color: white;
  text-decoration: none;
}

.footer a:hover {
  color: gray;
  text-decoration: none;
}

.footer .footer-navi {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer .footer-navi li {
  margin-left: 10px;
}

.footer .copyright {
  margin-right: 5px;
}

.hidden-header {
  display: none;
}