@charset "UTF-8";

a {
  text-decoration: none;
}

.btn {
  text-transform: none;
}

.toasted-container.top-right {
    top: 2%!important;
    right: 2%!important;
}

div.toasted > svg {
  margin-right: 12px;
}

div.input-group__input > svg.svg-inline--fa {
  font-size: 14px;
}

.input-group.input-group--solo label {
    top: 2px;
}